.archive {
  --frame: 200px;
  display: flex;
  flex-direction: column;
  margin: 88px var(--frame) 0px var(--frame);
  background-color: aliceblue;
  width: 80%;
  height: 100vh;
  border-radius: 18px;
  padding: 66px 60px 10px 60px;
  gap: 10px;
}
.text {
  font-size: 1.8rem;
}
.timeline {
  margin-left: 30px;
}
.t_ime {
  font-size: 1.3rem;
  font-weight: 600;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 15px;
}
